{# plantilla de la aplicacion #}
{% extends 'base.html.twig' %}
{% block title %}

Actualizar Categoria!

{% endblock %}

{% block body %}
<h1 align="left">Actualizar Categoria</h1>
<div class="row">
	<div class="col-lg-11 col-md-8">
		<div class="table-responsive">
			
				{{ form_start(form) }}
				{{ form_widget(form) }}
				{{ form_end(form) }}

		</div>
	</div>
</div>


{% endblock %}
